<h2 class="mb-4">Update <%= @star.name %></h2>
<%= form_with url: "/stars/#{@star.id}", method: :patch, local: true do |form| %>
  <div class="container">
    <form>
        <div class="col-md-4 mb-3">
          <%= form.label :name, class:"form-label" %>
          <%= form.text_field :name, class:"form-control", :value => @star.name %>
        </div>

        <div class="col-md-4 mb-3">
        <%= form.label :distance, class:"form-label" %>
          <%= form.text_field :distance, class:"form-control", :value => @star.distance %>
        </div>

        <div class="col-md-4 mb-3">
        <%= form.label :mass, class:"form-label" %>
          <%= form.number_field :mass, class:"form-control", :value => @star.mass %>
        </div>

        <div class="col-md-4 mb-3">
        <%= form.label :radius, class:"form-label" %>
          <%= form.number_field :radius, class:"form-control", :value => @star.radius %>
        </div>

        <div class="col-md-6 mb-3">
          <%= form.label "Is this star visible to the naked eye?", class:"form-label pe-2"  %>
          <%= form.select :visible, [["No", "false"], ["Yes", "true"]] %>
        </div>
      <div class="actions">
        <%= form.submit class:'btn btn-secondary' %>
      </div>
    </form>
  </div>
<% end %>