<h2>All Stars</h2>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Constellation</th>
      <th>Distance in LY</th>
      <th>Mass</th>
      <th>Radius</th>
      <th><%= link_to "Visible to Naked Eye", stars_path(:visible=>"true") %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @stars.each do |star| %>
      <tr>
      <td><%= link_to "#{star.name}", "/stars/#{star.id}", class:"link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %></td>
      <td><%= star.constellation.name %></td>
      <td><%= star.distance %></td>
      <td><%= star.mass %></td>
      <td><%= star.radius %></td>
      <td><%= star.visible %></td>
      <td><%= link_to "Edit", "/stars/#{star.id}/edit", class:"btn btn-sm btn-secondary" %></td>
      <td><%= link_to "Delete", "/stars/#{star.id}", class:"btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
