<div class="card" style="width: 36rem;">
  <div class="card-body bg-light">
    <h2>Details for <%= @star.name %></h2>
    <p>Distance from Earth: <%= @star.distance %> Light Years</p>
    <p>Mass: <%= @star.mass %> Times Solar Mass</p>
    <p>Radius: <%= @star.radius %> Times Solar Radius</p>
    <p>Is visible to the naked eye: <%= @star.visible %></p>
    <p>Belongs to the constellation of <%= @star.constellation.name %></p>
  </div>
</div>
