<h2>All Constellations</h2>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Posted On</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @constellations.each do |cons| %>
      <tr>
      <td class="constellation">
        <%= link_to "#{cons.name}", "/constellations/#{cons.id}", class:"link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
      </td>
      <td><%= cons.created_at %></td>
      <td><%= link_to "Edit", "/constellations/#{cons.id}/edit", class:"btn btn-sm btn-secondary" %></td>
      <td><%= link_to "Delete", "/constellations/#{cons.id}", class:"btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Constellation", "/constellations/new", class:"btn btn-primary" %>

