<h2>The Constellation of <%= @constellation.name %></h2>
<p>There are <%= @constellation.stars.count %> stars in <%= @constellation.name %>.</p>
<p><%= @constellation.name %> symbolizes <%= @constellation.symbolism %>.</p>
<p>It has <%= @constellation.bayer_stars %> Bayer stars.</p>
<p><%= @constellation.stars_with_planets %> of its stars have planets.</p>
<p>It is a member of the zodiac: <%= @constellation.in_zodiac %></p>
<%= link_to "Stars in #{@constellation.name}", "/constellations/#{@constellation.id}/stars", class:"btn btn-secondary" %>
<%# change boolean to be more readable %>
