<h2>The Stars In <%= @constellation.name %></h2>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Distance in LY</th>
      <th>Mass</th>
      <th>Radius</th>
      <th>Visible to Naked Eye</th>
      <th> </th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @stars.each do |star| %>
      <tr>
      <td><%= star.name %></td>
      <td><%= star.distance %></td>
      <td><%= star.mass %></td>
      <td><%= star.radius %></td>
      <td><%= star.visible %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Star to #{@constellation.name}", "/constellations/#{@constellation.id}/stars/new", class:"btn btn-primary" %>
