<h2>The Stars In <%= @constellation.name %></h2>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Distance in LY</th>
      <th>Mass</th>
      <th>Radius</th>
      <th>Visible to Naked Eye</th>
      <th> </th>
    </tr>
  </thead>
  <thead class="table-dark">
    <tr>
      <th><%= link_to "Sort by Name", "/constellations/#{@constellation.id}/stars?sort=name" %></th>
      <th><%= link_to "Sort by Distance", "/constellations/#{@constellation.id}/stars?sort=distance" %></th>
      <th><%= link_to "Sort by Mass", "/constellations/#{@constellation.id}/stars?sort=mass" %></th>
      <th><%= link_to "Sort by Radius", "/constellations/#{@constellation.id}/stars?sort=radius" %></th>
      <th><%= link_to "Sort by Visible", "/constellations/#{@constellation.id}/stars?sort=visible" %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @stars.each do |star| %>
      <tr>
      <td class="star"><%= star.name %></td>
      <td><%= star.distance %></td>
      <td><%= star.mass %></td>
      <td><%= star.radius %></td>
      <td><%= star.visible %></td>
      <td><%= link_to "Edit", "/stars/#{star.id}/edit", class:"btn btn-sm btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Star to #{@constellation.name}", "/constellations/#{@constellation.id}/stars/new", class:"btn btn-primary mb-5" %>
